.option-menu {
    width: 500px;
}

section {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

input, textarea {
    display: block;
    margin: 0.5rem 0;
}

#show-result, #show-inductor-result, #show-capacitor-result  {
    text-align: center;
    font-size: 2rem;
}

.center {
    margin: auto;
    text-align: center;
}